html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Arimo', sans-serif;
}

body{
    background-color: whitesmoke;
}

*{
    box-sizing: border-box;
}

header{
    background-color: white;
    padding: 10px 21px;
    position: fixed;
    width: 100%;
    z-index: 3;
}
header > a > span:first-child{
    font-size: 17px;
    padding-left: 15px;
}
header > a > span:last-child{
    font-size: 30px;
    height: 30px;
    position: relative;
    top: -11px;
}
header > a > span{
    display: block;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    vertical-align: middle;
    font-weight: bold;
}
header > a{
    color: #ff6c0a;
    text-decoration: none;
    display: inline-block;
    padding-top: 5px;
    overflow: hidden;
    height: 47px;
}

main{
    position: absolute;
    top: 71px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.first-time{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    text-align: center;
    
    background: #f2f5f6;
    background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc));
    background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
    
}
.first-time .form{
    display: inline-block;
    position: absolute;
    
    left:50%;
    top:50%;
    
    margin: -120px 0 0 -180px;
    
    background-color: white;
    width: 360px;
    height: 240px;
    
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
/*    -webkit-box-shadow: 0 0 50px 0 rgba(255,255,255,0.9);
    box-shadow: 0 0 150px 150px rgba(255,255,255,1);*/

    padding: 30px;
}

.main-menu{
    display: inline-block;
    float: right;
}
.main-menu > a{
    display: inline-block;
    font-size: 34px;
    line-height: 51px;
    color: #ff6c0a;
}
